/* Text-size styles */
/* base size: ibm-body-regular-400-16px (16px) 
--lora-h1--bold-700-54px: 3.38rem;
--lora-h2--bold-700-36px: 2.25rem;
--lora-h3--semibold-600-24px: 1.5rem;
--lora-h4--semibold-600-18px: 1.12rem;
--ibm-body-regular-400-16px: 1rem;
--ibm-body-regular-400--italic-16px: 1rem;
--ibm-body-medium-500-16px: 1rem;
--ibm-large-regular-400-24px: 1.5rem;
--ibm-large-regular-400--italics-24px: 1.5rem;
--ibm-large-medium-500-24px: 1.5rem;
--ibm-large-bold-700-24px: 1.5rem;
--ibm-labels-regular-400-16: 1rem;
--ibm-labels-medium-500-14: 0.88rem;
--ibm-address-regular-400-16: 1rem;
--ibm-address-light-300--italic-16: 1rem;
*/
:root {
  --blue-1: rgba(59, 128, 159, 1);
  --blue-2: rgba(25, 64, 116, 1);
  --blue-3: rgba(8, 31, 81, 1);
  --blue-4: rgba(11, 17, 38, 1);
  --yellow-1: rgba(255, 223, 120, 0.7);
  --yellow-2: rgba(255, 194, 0, 0.7);
  --yellow-3: rgba(247, 188, 0, 1);
  --black: rgba(31, 34, 35, 1);
  --white: rgba(239, 239, 239, 1);
  --white-faded: rgba(255, 255, 255, 0.75);
  --gray: rgba(177, 178, 178, 1);
  --white-on--yellow: rgba(254, 243, 209, 1);
  --white-true: rgba(255, 255, 255, 1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.6;
  color: var(--blue-4); }

h2 {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.6;
  color: var(--blue-4); }

h3 {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--blue-4); }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--blue-3); }

.header {
  padding: 2.4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .logo {
    display: flex;
    align-items: center;
    gap: 16px; }
    .header .logo__img {
      width: 4rem;
      height: 4rem; }
    .header .logo__title {
      font-size: 2rem;
      color: var(--blue-3); }
      .header .logo__title__white {
        color: var(--white); }
  .header .navigation__list {
    list-style: none;
    display: flex;
    gap: 6rem; }
  .header .navigation__active {
    font-weight: 500; }
  .header .navigation__link:link, .header .navigation__link:visited {
    color: var(--blue-4);
    text-decoration: none; }
  .header .navigation__link:hover, .header .navigation__link:active {
    color: var(--blue-2); }
  .header .navigation__link__white:link, .header .navigation__link__white:visited {
    color: var(--white);
    text-decoration: none; }
  .header .navigation__link__white:hover, .header .navigation__link__white:active {
    color: var(--gray); }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  background-color: var(--blue-4); }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 5.6rem;
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    color: var(--white);
    text-decoration: none; }
  .footer__link:hover, .footer__link:active {
    color: var(--gray); }
  .footer__copyright {
    color: var(--white-faded); }

.button, .button:link, .button:visited {
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  background: var(--blue-3);
  color: var(--white); }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem var(--gray); }

.button:active, .button:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--gray); }

.vertical_bar {
  width: 0.5rem;
  align-self: stretch;
  background-color: var(--white-faded); }
  .vertical_bar__yellow {
    background-color: var(--yellow-3); }

.container {
  background-image: url(../img/home-fountain.png);
  background-size: cover;
  height: 100vh;
  position: relative; }
  .container .blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8rem;
    gap: 1.6rem;
    background: var(--white-faded);
    position: absolute;
    width: 50vw;
    top: 25vh;
    height: 50vh;
    left: 13rem; }
    .container .blurb__text {
      text-align: justify; }

.why {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 7.5rem 10rem;
  gap: 50px; }
  .why__support {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1.6rem;
    flex: 1; }
    .why__support__body {
      text-align: justify; }
  .why__redirect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    gap: 1.6rem;
    flex: 1; }
    .why__redirect__body {
      text-align: justify; }

.kfi {
  background-color: var(--yellow-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 10rem;
  gap: 5.6rem; }
  .kfi__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 1.6rem; }
  .kfi__metrics {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 5rem; }
  .kfi__metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 12rem;
    gap: 1rem;
    background-color: var(--white-faded);
    border-radius: 8px;
    flex: 1; }
    .kfi__metric__header {
      font-size: 5.4rem;
      text-align: center; }
    .kfi__metric__body {
      font-size: 2.4rem;
      text-align: center; }
  .kfi__source {
    align-self: end;
    color: var(--blue-2); }
    .kfi__source__link {
      font-style: italic; }
      .kfi__source__link:link, .kfi__source__link:visited {
        color: var(--blue-2);
        text-decoration: none; }
      .kfi__source__link:hover, .kfi__source__link:active {
        color: var(--blue-1); }

.strengths {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 10rem;
  gap: 2.4rem; }
  .strengths__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem; }
  .strengths__container {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 5rem; }
  .strengths__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem;
    gap: 1.6rem;
    list-style: disc; }

.about-us {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 10rem;
  gap: 1.6rem;
  text-align: justify; }
  .about-us__par1 {
    display: flex;
    align-items: center;
    gap: 5rem; }
    .about-us__par1__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem; }
  .about-us__par2 {
    display: flex;
    align-items: center;
    gap: 5rem; }

.tradition {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 1rem;
  background-color: var(--blue-3); }
  .tradition__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center; }
  .tradition__header {
    color: var(--white); }
  .tradition__copy {
    color: var(--white-faded); }

.history {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 10rem;
  gap: 3.6rem; }
  .history__header {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center; }
  .history__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem; }
  .history__image {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .history__image__caption {
      font-style: italic;
      text-align: center;
      color: var(--blue-2); }
  .history__timeline {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
    .history__timeline__item {
      display: flex;
      flex-direction: column; }
    .history__timeline__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem; }
    .history__timeline__circle {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: var(--yellow-2); }
    .history__timeline__copy {
      text-align: justify; }

.officers {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 10rem;
  gap: 2.4rem;
  background-color: var(--yellow-2); }
  .officers__header {
    text-align: center; }
  .officers__container {
    display: flex;
    gap: 15rem;
    justify-content: center; }
  .officers__col {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }

.officer {
  text-align: center;
  color: var(--blue-4); }
  .officer__name {
    font-weight: 500; }
  .officer__position {
    font-style: italic;
    font-weight: 400; }
