/* Text-size styles */
/* base size: ibm-body-regular-400-16px (16px) 
--lora-h1--bold-700-54px: 3.38rem;
--lora-h2--bold-700-36px: 2.25rem;
--lora-h3--semibold-600-24px: 1.5rem;
--lora-h4--semibold-600-18px: 1.12rem;
--ibm-body-regular-400-16px: 1rem;
--ibm-body-regular-400--italic-16px: 1rem;
--ibm-body-medium-500-16px: 1rem;
--ibm-large-regular-400-24px: 1.5rem;
--ibm-large-regular-400--italics-24px: 1.5rem;
--ibm-large-medium-500-24px: 1.5rem;
--ibm-large-bold-700-24px: 1.5rem;
--ibm-labels-regular-400-16: 1rem;
--ibm-labels-medium-500-14: 0.88rem;
--ibm-address-regular-400-16: 1rem;
--ibm-address-light-300--italic-16: 1rem;
*/

// DECLARE COLORS

:root {
  --blue-1: rgba(59, 128, 159, 1);
  --blue-2: rgba(25, 64, 116, 1);
  --blue-3: rgba(8, 31, 81, 1);
  --blue-4: rgba(11, 17, 38, 1);
  --yellow-1: rgba(255, 223, 120, 0.7);
  --yellow-2: rgba(255, 194, 0, 0.7);
  --yellow-3: rgba(247, 188, 0, 1);
  --black: rgba(31, 34, 35, 1);
  --white: rgba(239, 239, 239, 1);
  --white-faded: rgba(255, 255, 255, 0.75);
  --gray: rgba(177, 178, 178, 1);
  --white-on--yellow: rgba(254, 243, 209, 1);
  --white-true: rgba(255, 255, 255, 1);
}

// UNIVERSAL RESET

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

// DECLARE FONTS

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.6;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
