.header {
  padding: 2.4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    &__img {
      width: 4rem;
      height: 4rem;
    }
    &__title {
      font-size: 2rem;

      &__white {
        color: var(--white);
      }
    }
  }

  .navigation {
    &__list {
      list-style: none;
      display: flex;
      gap: 6rem;
    }

    &__active {
      font-weight: 500;
    }

    &__item {
      font-size: 1.6rem;
      color: var(--blue-4);

      &__white {
        color: var(--white);
      }
    }

    &__link {
      &:link,
      &:visited {
        color: var(--white);
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: var(--gray);
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  background-color: var(--blue-4);

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 5.6rem;
  }

  &__item {
  }

  &__link {
    &:link,
    &:visited {
      color: var(--white);
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: var(--gray);
    }
  }

  &__copyright {
    text-align: center;
    color: var(--white-faded);
  }
}
