.header {
  padding: 2.4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 16px;

    &__img {
      width: 4rem;
      height: 4rem;
    }
    &__title {
      font-size: 2rem;
      color: var(--blue-3);

      &__white {
        color: var(--white);
      }
    }
  }

  .navigation {
    &__list {
      list-style: none;
      display: flex;
      gap: 6rem;
    }

    &__active {
      font-weight: 500;
    }

    &__link {
      &:link,
      &:visited {
        color: var(--blue-4);
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: var(--blue-2);
      }

      &__white {
        &:link,
        &:visited {
          color: var(--white);
          text-decoration: none;
        }

        &:hover,
        &:active {
          color: var(--gray);
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  background-color: var(--blue-4);

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 5.6rem;
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      color: var(--white);
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: var(--gray);
    }
  }

  &__copyright {
    color: var(--white-faded);
  }
}
