.contact-us {
  display: flex;
  align-items: center;
  gap: 5rem;
  height: 90vh;
  background-color: var(--white);

  @media only screen and (max-width: $tablet-portrait) {
    flex-direction: column-reverse;
    height: auto;
    gap: 0rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    flex: 1 50%;
    padding-left: 10rem;

    @media only screen and (max-width: $tablet-portrait) {
      padding-left: 0;
      padding: 6.5rem 8rem;
    }

    @media only screen and (max-width: $phone) {
      padding: 5.5rem 7rem;
    }
  }

  iframe {
    height: 100%;
    width: 100%;
    flex: 1 50%;

    @media only screen and (max-width: $tablet-portrait) {
      height: 30vh;
      flex: 0 1 auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__email {
    color: var(--blue-2);
    font-style: italic;
    text-decoration: none;
  }

  &__email:hover {
    color: var(--blue-4);
  }

  &__note {
    font-size: 1rem;
    align-self: end;
  }
}

.locations {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 10rem;
  background-color: var(--blue-3);

  &__header {
    align-self: center;
    color: var(--white);

    @media only screen and (max-width: $tablet-portrait) {
      text-align: center;
    }

    @media only screen and (max-width: $phone) {
      align-self: end;
    }

    @media only screen and (min-width: $big-desktop) {
      text-align: center;
    }
  }

  @media only screen and (max-width: $tablet-portrait) {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    padding: 6.5rem 8rem;
    align-items: center;
  }

  @media only screen and (max-width: $phone) {
    grid-template: min-content repeat(5, 1fr) / 1fr;
    padding: 5.5rem 7rem;
  }

  @media only screen and (min-width: $big-desktop) {
    padding: 10rem 25rem;
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.2rem;

  @media only screen and (max-width: $tablet-portrait) {
    text-align: center;
    align-items: center;
  }

  @media only screen and (min-width: $big-desktop) {
    text-align: center;
    align-items: center;
  }

  &__office {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--icon {
      height: 2rem;
      width: 2rem;
      fill: var(--white);
    }

    &--branch {
      font-weight: 700;
      font-size: 2.4rem;
      color: var(--white);
    }
  }

  &__content {
    color: var(--white-faded);

    &--phone {
      color: inherit;
      text-decoration: none;
    }
  }

  &__redirect {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    &--text {
      font-style: italic;
      font-weight: 300;
      color: var(--gray);
    }

    &--icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: var(--gray);
    }
  }
}
