.container {
  display: flex;
  flex-direction: column;
  background-image: url(../img/home-fountain.png);
  background-size: cover;
  height: 100vh;

  .blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    padding: 8rem;
    gap: 1.6rem;
    background: var(--white-faded);
    margin: 10rem;
    width: 60%;

    @media only screen and (max-width: $tablet-portrait) {
      width: calc(100% - 10rem);
      margin: 10vh 5rem;
      padding: 6rem;
    }

    @media only screen and (max-width: $phone) {
      padding: 4rem;
    }

    @media only screen and (min-width: $big-desktop) {
      width: 50%;
    }

    &__text {
      text-align: justify;
    }
  }
}

// .home {}

.why {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 7.5rem 10rem;
  gap: 5rem;

  @media only screen and (max-width: $tablet-portrait) {
    padding: 6.5rem 8rem;
  }

  @media only screen and (max-width: $phone) {
    flex-direction: column;
    padding: 5.5rem 7rem;
    gap: 3rem;
  }

  @media only screen and (min-width: $big-desktop) {
    padding: 7rem 20rem;
  }

  &__support {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1.6rem;
    flex: 1;

    @media only screen and (max-width: $tablet-portrait) {
      padding: 0;
    }

    &__body {
      text-align: justify;
    }
  }

  &__redirect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    gap: 1.6rem;
    flex: 1;

    @media only screen and (max-width: $tablet-portrait) {
      padding: 0;
    }

    &__body {
      text-align: justify;
    }
  }
}

.kfi {
  background-color: var(--yellow-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 10rem;
  gap: 5.6rem;

  @media only screen and (max-width: $tablet-portrait) {
    padding: 6.5rem 8rem;
  }

  @media only screen and (max-width: $phone) {
    padding: 5.5rem 7rem;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 1.6rem;
  }

  &__metrics {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;

    @media only screen and (max-width: $tablet-portrait) {
      gap: 2.5rem;
    }
  }

  &__metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 12rem;
    gap: 1rem;

    background-color: var(--white-faded);
    border-radius: 8px;

    flex: 1;

    @media only screen and (max-width: $tablet-portrait) {
      padding: 5rem 6rem;
    }

    &__header {
      font-size: 5.4rem;
      text-align: center;

      @media only screen and (max-width: $tablet-portrait) {
        font-size: 4rem;
      }
    }

    &__body {
      font-size: 2.4rem;
      text-align: center;

      @media only screen and (max-width: $tablet-portrait) {
        font-size: 2rem;
      }
    }
  }

  &__source {
    align-self: end;
    color: var(--blue-2);
    &__link {
      font-style: italic;
      &:link,
      &:visited {
        color: var(--blue-2);
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: var(--blue-1);
      }
    }
  }
}

.strengths {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 10rem;
  gap: 2.4rem;
  background-color: var(--white);

  @media only screen and (max-width: $tablet-portrait) {
    padding: 6.5rem 8rem;
  }

  @media only screen and (max-width: $phone) {
    padding: 5.5rem 7rem;
  }

  @media only screen and (min-width: $big-desktop) {
    padding: 7rem 20rem;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 5rem;

    @media only screen and (max-width: $phone) {
      flex-direction: column;
      gap: 1.6rem;
      align-items: flex-start;
      padding: 1.6rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem;
    gap: 1.6rem;
    list-style: disc;
    flex: 1;

    @media only screen and (max-width: $phone) {
      padding: 0;
    }
  }
}
